[data-ripple-bound="true"] {
  position: relative;
}

[data-ripple-bound="true"] .nuxt-ripple-animation {
  content: '';
  position: absolute;
  display: block;     
  border-radius: 100%;
  pointer-events: none;
  opacity: calc(var(--o, 1) * 1);
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width:  calc(var(--d) * 1px);
  height: calc(var(--d) * 1px); 
  transform-origin: center;
  z-index: 9999;
}

[data-ripple-bound="true"].nuxt-ripple-pulse .nuxt-ripple-animation {
  top: 50%;
  left: 50%;
}

[data-ripple-overflow="true"] {
  overflow: visible!important;
}